@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(/images/bg.jpg) ;
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: bottom center;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px 0 40px; 
}

.logo{
    flex-grow: 3;
    height: 35px;
    margin-left: 30px;
}

.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin-left: 60px;
}

.list-items a{
    color: #fff;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    margin: 0 30px;
}

.call-us{
    display: flex;
    flex-direction: row;
}

.call-us-logo{
    filter:brightness(0) saturate(100%) invert(100%) sepia(99%);
    
}

.call-us h3{
    margin-top: 15px;
    margin-left: 15px;
    align-items: center;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

.line{
     margin-left: 680px;
     margin-top:15px;
     border: 0.5px solid #ffffff;
     background-color: #fff;
     width: 54%;
}

.middle{
    margin-top: 10px;
    height: 75vh;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-container{
    width: 50%;
}

.heading{
    font-size: 35px;
    font-family: 'poppins', sans-serif;
    font-weight: normal;
    color: #ffffff;
    margin-left: 90px;
    margin-top: 120px;
}

.btn{
    margin-top: 70px;
    margin-left: 90px;   
}

.btn > button{
    padding: 15px 20px 15px 20px ;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 900;
    font-family:'poppins', sans-serif ;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.right-container{
    width: 50%;
}

.top-box{
    width: 350px;
    height: 300px;
    margin-left: 290px;
    margin-top: 50px;
}

.box-1{
    width: 310px;
    height: 150px;
    background-color: #31455599;
    border: 0.1px solid #31455599;
    border-radius: 2px;
}

.ver-pendulum{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 180px;
    width: 50px;
}

.string1{
    border:0.5px solid #fff ;
    background-color: #fff;
    width: 1px;
    height: 50px;
}

.bob{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #fff;
} 

.puzzle{
    width: 20px;
    padding: 7px 35px 7px 32px ;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
}

.puzzle-img{
    width: 20px;
    align-content: center;
    margin-left: -6px;
}

.box-1 h3{
    font-size: 18px;
    font-weight: 900;
    font-family:'poppins', sans-serif ;
    color: #fff;
    margin-top: 15px;
    margin-left: 33px;
}

.btm-box{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 200px;
    margin-top: -58px;
}

.box-2{
    border:1px solid #fff ;
    width: 310px;
    height: 180px;
    background-color: #31455599;
    border: 0.1px solid #31455599;
    border-radius: 2px;
}

.hor-pendulum{
    display:flex ;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
}

.string2{
    border:0.5px solid #fff ;
    background-color: #fff;
    width: 50px;
    height: 1px;
}

.bulb{
    width: 30px;
    padding: 5px 35px 5px 40px ;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
}

.bulb-img{
    margin-left: -23px;
    height: 35px;
}

.box-2 h3{
    font-size: 18px;
    font-weight: 900;
    font-family:'poppins', sans-serif ;
    color: #fff;
    margin-top: 15px;
    margin-left: 33px;
}

@media screen and (max-width : 500px) {
    body{
        background-position:center;
    }
    .nav-bar{
        flex-direction: row;
        justify-content: space-between  ;
        margin: auto; 
    }
    .logo{
        position: absolute;
        left: -20px;
        top: 5px;
        height: 12px;
    }
    .list-item{
        margin-left: 10px;
        margin-top: 35px;
    }
    .list-items a{
        font-size: 9px;
        margin: 0 10px;
    }
    .call-us{
        margin-right: 40px;
        margin-top: 25px;
    }
    .call-us-logo{
        height: 20px;
        margin-top: 15px;
    }
    
    .call-us h3{
        margin-top: 15px;
        margin-left: 12px;
        font-size: 9px;
    }
    
    .line{
         margin-left: 20px;
         margin-top:6px;
    }
    
    .middle{
        margin-top: -100px;
        height: 75vh;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .heading{
        font-size: 12px;
        margin-left: 25px;
        margin-top: 120px;
    }
    .btn{
        margin-top: 10px;
        margin-left: 20px;   
    }
    .btn > button{
        padding: 5px 10px 5px 10px ;
        border-radius: 30px;
        font-size: 10px;
    }
    .top-box{
        width: 250px;
        height: 100px;
        margin-left: 300px;
        margin-top: -100px;
    }
    .box-1{
        width: 180px;
        height: 95px;
    }
    .ver-pendulum{
        align-items: center;
        margin-left: 80px;
        width: 50px;
    }
    .string1{
        width: 1px;
        height: 30px;
    }
    .bob{
        width: 10px;
        height: 10px;
    } 
    .puzzle{
        padding: 5px 25px 5px 25px ;
        margin-left: 30px;
        margin-top: 12px;
    }
    .puzzle-img{
        width: 18px;
        align-content: center;
        margin-left: -6px;
    }
    .box-1 h3{
        font-size: 10px;
        margin-top: 12px;
        margin-left: 20px;
    }
    .btm-box{
        width: 250px;
        height: 100px;
        margin-top: 12px;
        margin-left: 95px;
    }
    .box-2{
        width: 180px;
        height: 95px;
    }
    .hor-pendulum{
        margin-bottom: 35px;
    }
    
    .string2{
        width: 35px;
    }
    
    .bulb{
        width: 20px;
        padding: 5px 25px 5px 25px ;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    .bulb-img{
        margin-left: -15px;
        height: 22px;
    }
    
    .box-2 h3{
        font-size: 10px;
        margin-top: 5px;
        margin-left: 20px;
    }
}
